.search {
    width: 80%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}

.addevent {
    width: 10%;
    height: 40px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 10px;
    padding: 10px;
}